In [1]:
print("NAMITA")

NAMITA

In [5]:
#.format or f string in python
name = "Namita"
age = 25
course = "Python"
print ("my name is {} & age is {} & course is {}".format (name ,age ,course) )
print(f"my name is {name} & age is {age} & course is {course } ")

my name is Namita & age is 25 & course is Python
my name is Namita & age is 25 & course is Python

In [1]:
#Different data types 
x = 23
y = 29.8
z = "25"
X = "NAME"
a = 2+3j 
b = {12,24,36,48,60}
c = (12,24,36,48,60)
d = [12,24,36,48,60]
i = ("apple", "mango",23 , "grapes")
j = True 
k = None
l =(2,)

print(type(x))
print(type(y))
print(type(z))
print(type(X))
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(i))
print(type(j))
print(type(k))
print(type(l))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'set'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>
<class 'tuple'>

In [16]:
#for sum 
a= 23
b = "25"
c =int(b)
sum = (a+c)
print(sum)

48

In [18]:
#Arithmatic operators 
a = 19
b = 2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)  #  for quotient
print(a%b)   #  modulo for remainder
print(a**b)   # for a to power b

21
17
38
9.5
9
1
361

In [19]:
#Relational operators
a = 45
b = 38

print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
False
True
True
False

In [21]:
#Logical operators (AND ,NOT ,OR )
a = 50
b = 40

print (a==b and a>b)
print(a==b or a>b)

False
True

In [22]:
#typeconversion # convert automatically
a = 20
b = 19.89
print (a+b)

39.89

In [23]:
#Typecasting 
a ="123"
b = int(a)
print(b)

c = float(a)
print(c)

123
123.0

In [24]:
a = 25
b = 24
print(float(a+b))

49.0

In [25]:
a = 19.8
b = 25
print(int(a+b))

44

In [27]:
#Input from user
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))
print(a+b )

Enter the number: 12
Enter the number: 15

27

In [1]:
a= 23
b = 25.9
sum = (a+b)
print (sum)

48.9

In [11]:
#Write a program for find area of square 
side =int(input("enter the side of a square :"))
print("Area =",side*side)

enter the side of a square : 12

Area = 144

In [16]:
#Find the average of twonumbers 
a= float(input("enter the number:"))
b =float(input("enter the number:"))
print("average = ", (a+b)/2)

enter the number: 28.8
enter the number: 19.9

average =  24.35

In [17]:
# Print two numbers and write true or false 
a = int(input("enter the number:"))
b = int(input("enter the number:"))
if a>=b :
    print(True)
else:
    print(False)

enter the number: 15
enter the number: 9

True

In [18]:
# Print two numbers and write true or false
a = int(input("enter the number:"))
b = int(input("enter the number:"))
print(a>=b)

enter the number: 19
enter the number: 16

True