In [15]:
student = {
    "Name":"namita",
    "Age" : 25,
    "course" : "data analyst",
    "marks" : 9.2
}
print(type(student))
print(student["Name"])
print(student["marks"])

<class 'dict'>
namita
9.2

In [41]:
student= {
    "Name":"namita",
    "Age" : 25,
    "course" : "data analytics",
    "marks" : 9.2
}

student["Name"] = "Saloni"  # update the dictionary
print(student)

student["Subject"] ="python"   # add new key to the dictionary
print(student)

student.update({"city":"Hansi"})  #update new key 
print(student)

{'Name': 'Saloni', 'Age': 25, 'course': 'data analytics', 'marks': 9.2}
{'Name': 'Saloni', 'Age': 25, 'course': 'data analytics', 'marks': 9.2, 'Subject': 'python'}
{'Name': 'Saloni', 'Age': 25, 'course': 'data analytics', 'marks': 9.2, 'Subject': 'python', 'city': 'Hansi'}

In [21]:
#nested dictionary
students = {
    "s1": {"Name":"Namita","course":"Python ","age":"25",} ,
    "s2": {"Name":"Himanshu","course":"Math","age":"28"}
}
print(students["s2"])
print(students["s1"]["Name"])

{'Name': 'Himanshu', 'course': 'Math', 'age': '28'}
Namita

In [29]:
#nested dictionary
students = {
    "s1": {"Name":"Namita","course":"Python ","age":"25",} ,
    "s2": {"Name":"Himanshu","course":"Math","age":"28"}
}

print(students.keys())  #  gives all keys in dictionary

print(students.values())  # gives all values

print(students.items())  # gives all (keys and values) in a tuple

print(len(students))

dict_keys(['s1', 's2'])
dict_values([{'Name': 'Namita', 'course': 'Python ', 'age': '25'}, {'Name': 'Himanshu', 'course': 'Math', 'age': '28'}])
dict_items([('s1', {'Name': 'Namita', 'course': 'Python ', 'age': '25'}), ('s2', {'Name': 'Himanshu', 'course': 'Math', 'age': '28'})])
2

In [5]:
# store words in python dictionary   
dict ={
   "table" :("a piece of furniture" ,"list of facts and figures"),
    "cat" :"a small animal"
}
print(dict)

{'table': ('a piece of furniture', 'list of facts and figures'), 'cat': 'a small animal'}

In [6]:
# write a program to input marks of three subjects in an empty dictionary
Dictionary = {}
X= int(input("enter the marks of math :"))
Dictionary.update({"MATH":X})

Y = int(input("enter the marks of science:"))
Dictionary.update({"Science": Y})

Z = int(input("enter the marks of English :"))
Dictionary.update({"English": Z})

print(Dictionary)

enter the marks of math : 92
enter the marks of science: 84
enter the marks of English : 87

{'MATH': 92, 'Science': 84, 'English': 87}

In [1]:
# check age key exists or not
person = {"name": "Namita", "age": 25, "city": "Hansi"}

if "age" in person:
    print("The key 'age' exists in the dictionary.")
else:
    print("The key 'age' does not exist in the dictionary.")

The key 'age' exists in the dictionary.