In [1]:
# for print numbers 1 to 100 and in last end of loop  (using while loop)
i = 1 
while i <= 100 :
    print(i)
    i += 1
print("end of loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
end of loop

In [3]:
# print numbers from 100 to 1 ...and loop break (using while loop)
i = 100
while i >= 1 :
    print(i)
    i -= 1
print('loop break')

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
loop break

In [4]:
#Multiplication table of a number n (using while loop)
n =int(input("enter the number:"))
i = 1 
while i <= 10 :
    print(n*i)
    i+= 1

enter the number: 6

6
12
18
24
30
36
42
48
54
60

In [5]:
# print the square root of 1 to 10 (using while loop)
i = 1
while i <= 10:
    print(i**2)
    i+= 1

1
4
9
16
25
36
49
64
81
100

In [12]:
# print elements of this list (using while loop)
n = [1,4,9,16,25,36,49,64,81,100] 
i = 0
while i < len(n):
    print(n[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [1]:
# find a number from this tuple (using while loop)
n = (1,4,9,16,25,36,49,64,81,100)
i = 0
while i < len(n):
    if (n[i]== 64):
        print("target foumd at i",i)
    i += 1

target foumd at i 7

In [3]:
# target finding at (using while loop)
n = (1,4,9,16,25,36,49,64,81,100)
i = 0
while i < len(n):
    if (n[i]== 81):
        print("target foumd at i",i)
    else:
        print("finding")
    i += 1

finding
finding
finding
finding
finding
finding
finding
finding
target foumd at i 8
finding

In [3]:
# for print elements of this list (using for loop)
n= [1,4,9,16,25,49,64,81,100]
for i in n:
    print (i)

1
4
9
16
25
49
64
81
100

In [12]:
# finding a no. from this tuple (using for loop)
n = (1,4,9,16,25,36,49,64,81,100)
i= 0
for el in n:
    if( el == 49):
        print("target found ",i)
        break
    else:
        print("finding")
    i+=1

finding
finding
finding
finding
finding
finding
target found  6

In [13]:
# find the element in tuple (using for loop and continue)
n = (1,4,9,16,25,36,49,64,81,100)
i= 0
for el in n:
    if( el == 49):
        print("target found ",i)
        continue
    else:
        print("finding")
    i+=1

finding
finding
finding
finding
finding
finding
target found  6
finding
finding
finding

In [14]:
# FOr print numbers from (1 to 9th )index 
n =[1,2,3,4,5,6,7,8,9,12]
for n in range (1,9):
    print(n)

1
2
3
4
5
6
7
8

In [1]:
# for print even numer
for i in range (0,40,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [2]:
# print numbers from 1 to 100 using for loop
for i in range (1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
#print multiplication table of number n using for loop
n = int(input("enter the number:"))
for i in range (1, 11):
    print(n*i)

enter the number: 5

5
10
15
20
25
30
35
40
45
50

In [8]:
#print numbers from 100 to 1 using for loop
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
# sum first n numbers (using while loop )
n =int(input('enter the number:'))
i = 1
sum= 0
while i<= n:
    sum+=i
    i+= 1
print("total sum =",sum)

enter the number: 8

total sum = 36

In [6]:
# sum first n numbers (using for loop )
n =int(input('enter the number:'))
i = 1
sum= 0
for i in range(1,n+1):
    sum+=i
    i+= 1
print("total sum =",sum)

enter the number: 8

total sum = 36

In [2]:
# for finding factorial of number (using while loop)
n =int(input('enter the number:'))
i = 1
factorial = 1
while i<= n:
    factorial *=i
    i+= 1
print("factorial of number is =",factorial)

enter the number: 8

factorial of number is = 40320

In [1]:
# for finding factorial of number (using for loop)

n =int(input('enter the number:'))
i = 1
factorial = 1
for i in range (1 ,n+1):
    factorial *=i
    i+= 1
print("factorial of number is =",factorial)

enter the number: 5

factorial of number is = 120

In [2]:
n= 4
while n >= 0:
    n = n - 1
    print(n)

3
2
1
0
-1

In [3]:
n = 1
while n <= 5:
    print(n)
    n = n + 1

1
2
3
4
5