In [18]:
# 1 Find number divided by 7 not by 5 
for i in range (100,300):
    if i% 7 == 0 and i % 5 != 0 :
        print(i ,end = " ")
print(i ,end = " ")

112 119 126 133 147 154 161 168 182 189 196 203 217 224 231 238 252 259 266 273 287 294 299

In [15]:
def find_numbers(start, end):
    result = []
    for i in range(start, end + 1):
        if i % 7 == 0 and i % 5 != 0:
            result.append(str(i))
    return ','.join(result)
    
print(find_numbers(100, 300))

112,119,126,133,147,154,161,168,182,189,196,203,217,224,231,238,252,259,266,273,287,294

In [23]:
# genrate square dictionary
def genrate_square_dict(n):
    dict = {}
    for i in range (1,n+1):
        dict[i] = i**2
    return dict
genrate_square_dict(9)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
# Sequence to list and tuple
def convert_input_to_list_and_tuple(string):
    values = string.split(",")
    return values,tuple(values)
print (convert_input_to_list_and_tuple("3,6,5,3,2,8"))

(['3', '6', '5', '3', '2', '8'], ('3', '6', '5', '3', '2', '8'))

In [31]:
import math
def calculate_q_values(d_values):
    C = 50
    H = 30
    value = []
    items = [float(x) for x in d_values.split(',')]
    for D in items:
        Q = round(math.sqrt((2 * C * D) / H))
        value.append(str(Q))
    return ','.join(value)
calculate_q_values('100,150,180')

'18,22,24'

In [34]:
# create matrix 
def create_matrix(M,N):
    return [[i * j for j in range(N)] for i in range(M)]
print(create_matrix(4,3))

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

In [35]:
# sort comma separated words 
def sort_words(words):
    return ','.join(sorted(words.split(',')))
sort_words('banana,apple,grape,orange')

'apple,banana,grape,orange'

In [36]:
# Capitalize all lines 
def capitalize_lines(lines):
    return [line.upper() for line in lines]
capitalize_lines(['Sundays are Fun', 'Monday is Done'])

['SUNDAYS ARE FUN', 'MONDAY IS DONE']

In [37]:
def unique_sorted_words(sentence):
    return ' '.join(sorted(set(sentence.split())))
unique_sorted_words('dog cat apple cat banana dog')

'apple banana cat dog'

In [38]:
def even_digit_numbers(start, end):
    return ','.join([str(num) for num in range(start, end + 1) if all(int(digit) % 2 == 0 for digit in str(num))])
even_digit_numbers(1200, 2010)

'2000,2002,2004,2006,2008'

In [39]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [13]:
# Count letters and digits 
def count_letters_and_digits (string):
    count = {"letters": 0 ,"Digits":0}
    for char in string:
        if char.isalpha():
            count["letters"] +=1
        elif char.isdigit ():
            count["Digits"]+= 1
    return count
print(count_letters_and_digits("Data123 Science 2024"))

{'letters': 11, 'Digits': 7}

In [15]:
#Count uppercase and lowercase
def count_upper_lowercase(string):
    count= {"uppercase":0,"Lowercase": 0}
    for char in string :
        if char.isupper():
            count["uppercase"]+=1
        elif char.islower():
            count["Lowercase"]+=1
    return count
print(count_upper_lowercase("Hello World"))

{'uppercase': 2, 'Lowercase': 8}

In [16]:
# zero division
def catch_zero_division():
    try:
        return 10 / 0
    except ZeroDivisionError:
        print("division by zero!")
catch_zero_division()

division by zero!

In [24]:
# recursive function
def recursive_function(n):
    if n == 0:
        return 1
    else:
        return (recursive_function(n-1)+100)
print(recursive_function(5))

501

In [27]:
# Import random number
import random
def generate_random_numbers(start,end):
    return random.sample(range(start,end+1), 5)
print(generate_random_numbers(150,250))

[168, 162, 178, 246, 217]

In [29]:
# import random even number
import random
def generate_even_numbers(start,end):
    return random.sample([i for i in range(start,end+1) if i % 2 == 0], 5)
print(generate_even_numbers(150,250))

[180, 204, 182, 188, 158]

In [31]:
# Measure execution time
import time
def measure_execution_time():
    start = time.time()
    for _ in range(10000):
        1 + 1
    end = time.time()
    return f"Execution Time: {end - start} seconds"
print(measure_execution_time())

Execution Time: 0.00030922889709472656 seconds

In [5]:
def binary_divisible_by_5(binaries):
    return ",".join([b for b in binaries.split(",") if int(b, 2) % 5 == 0])

binaries = "1101,1010,1111,1001"
binary_divisible_by_5(binaries)

'1010,1111'

In [7]:
8 ** 2 + 12 / 4 * (3 -1) % 5

65.0