In [1]:
print("Hello python")

Hello python

In [2]:
## Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum_result = num1 + num2
print(f"sum: {num1} + {num2} = {sum_result}")

Enter the first number for addition:  24
Enter the second number for addition:  34

sum: 24.0 + 34.0 = 58.0

In [3]:
# Division
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4 == 0:
 print("Error: Division by zero is not allowed.")
else:
 div_result = num3 / num4
 print(f"Division: {num3} / {num4} = {div_result}")

Enter the dividend for division:  25
Enter the divisor for division:  5

Division: 25.0 / 5.0 = 5.0

In [4]:
# Input two variables
a = input("Enter the value of the first variable (a): ")
b = input("Enter the value of the second variable (b): ")
# Display the original values
print(f"Original values: a = {a}, b = {b}")
# Swap the values using a temporary variable
temp = a
a = b
b = temp
# Display the swapped values
print(f"Swapped values: a = {a}, b = {b}")

Enter the value of the first variable (a):  34
Enter the value of the second variable (b):  56

Original values: a = 34, b = 56
Swapped values: a = 56, b = 34

In [7]:
import random
print(f"Random number: {random.randint(1, 100)}")

Random number: 5

In [6]:
kilometers = float(input("Enter distance in kilometers: "))
# Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers:  62

62.0 kilometers is equal to 38.525002 miles

In [7]:
celsius = float(input("Enter temperature in Celsius: "))
# Conversion formula: Fahrenheit = (Celsius * 9/5) + 32
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius:  37

37.0 degrees Celsius is equal to 98.6 degrees Fahrenheit

In [8]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)
print(cal)

Enter year:  2000
Enter month:  1

    January 2000
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [9]:
import math
# Input coefficients
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))
# Calculate the discriminant
discriminant = b**2 - 4*a*c
# Check if the discriminant is positive, negative, or zero
if discriminant > 0:
     # Two real and distinct roots
     root1 = (-b + math.sqrt(discriminant)) / (2*a)
     root2 = (-b - math.sqrt(discriminant)) / (2*a)
     print(f"Root 1: {root1}")
     print(f"Root 2: {root2}")
elif discriminant == 0:
     # One real root (repeated)
     root = -b / (2*a)
     print(f"Root: {root}")
else:
 # Complex roots
      real_part = -b / (2*a)
      imaginary_part = math.sqrt(abs(discriminant)) / (2*a)
      print(f"Root 1: {real_part} + {imaginary_part}i")
      print(f"Root 2: {real_part} - {imaginary_part}i")

Enter coefficient a:  12
Enter coefficient b:  2
Enter coefficient c:  4

Root 1: -0.08333333333333333 + 0.5713045500334203i
Root 2: -0.08333333333333333 - 0.5713045500334203i

In [10]:
a = 5
b = 10
# Swapping without a temporary variable
a, b = b, a
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [11]:
num = float(input("Enter a number: "))
if num > 0:
 print("Positive number")
elif num == 0:
 print("Zero")
else:
 print("Negative number")

Enter a number:  12.8

Positive number

In [12]:
year = int(input("Enter a year: "))
# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
 print("{0} is a leap year".format(year))
# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
 print("{0} is a leap year".format(year))
# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
 print("{0} is not a leap year".format(year))

Enter a year:  2000

2000 is a leap year

In [13]:
num = int(input("Enter a number: "))
# define a flag variable
flag = False
if num == 1:
     print(f"{num}, is not a prime number")
elif num > 1:
 # check for factors
    for i in range(2, num):
        if (num % i) == 0:
             flag = True # if factor is found, set flag to True
            # break out of loop
             break
 # check if flag is True
if flag:
     print(f"{num}, is not a prime number")
    
else:
     print(f"{num}, is a prime number")

Enter a number:  13

13, is a prime number

In [14]:
# Python program to display all the prime numbers within an interval
lower = 1
upper = 10

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
 # all prime numbers are greater than 1
     if num > 1:
         for i in range(2, num):
             if (num % i) == 0:
                 break
     else:
         print(num)

Prime numbers between 1 and 10 are:
1

In [4]:
num = int(input("Enter a number: "))
factorial = 1
if num <0:
     print("Factirial does not exist for negative numbers")
elif num == 0:
     print("Factorial of 0 is 1")
else:
     for i in range(1, num+1):
         factorial = factorial*i
     print(f'The factorial of {num} is {factorial}')

Enter a number:  13

The factorial of 13 is 6227020800

In [5]:
num = int(input("Display multiplication table of: "))
for i in range(1, 11):
 print(f"{num} X {i} = {num*i}")

Display multiplication table of:  15

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [3]:
nterms = int(input("How many terms? "))
# first two terms
n1, n2 = 0, 1
count = 0
# check if the number of terms is valid
if nterms <= 0:
     print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
     print("Fibonacci sequence upto",nterms,":")
     print(n1)
# generate fibonacci sequence
else:
     print("Fibonacci sequence:")
     while count < nterms:
         print(n1)
         nth = n1 + n2
         # update values
         n1 = n2
         n2 = nth
         count += 1

How many terms?  12

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89

In [2]:
num = int(input("Enter a number: "))
# Calculate the number of digits in num
num_str = str(num)
num_digits = len(num_str)
# Initialize variables
sum_of_powers = 0
temp_num = num

# Calculate the sum of digits raised to the power of num_digits
while temp_num > 0:
     digit = temp_num % 10
     sum_of_powers += digit ** num_digits
     temp_num //= 10
# Check if it's an Armstrong number
if sum_of_powers == num:
     print(f"{num} is an Armstrong number.")
else:
     print(f"{num} is not an Armstrong number.")

Enter a number:  537

537 is not an Armstrong number.

In [1]:
# Input the interval from the user
lower = int(input("Enter the lower limit of the interval: "))
upper = int(input("Enter the upper limit of the interval: "))
for num in range(lower, upper + 1): # Iterate through the numbers i
     order = len(str(num)) # Find the number of digits in 'num'
     temp_num = num
     sum = 0
    
     while temp_num > 0:
         digit = temp_num % 10
         sum += digit ** order
         temp_num //= 10
 # Check if 'num' is an Armstrong number
     if num == sum:
         print(num)

Enter the lower limit of the interval:  100
Enter the upper limit of the interval:  800

153
370
371
407

In [6]:
limit = int(input("Enter the limit: "))

# Initialize the sum
sum = 0

# Use a for loop to calculate the sum of natural numbers
for i in range(1, limit + 1):
     sum += i
# Print the sum
print("The sum of natural numbers up to", limit, "is:", sum)

Enter the limit:  12

The sum of natural numbers up to 12 is: 78

#### def compute_lcm(x, y):
     if x > y: # choose the greater number
         greater = x
     else:
         greater = y
         
     while(True):
         if((greater % x == 0) and (greater % y == 0)):
             lcm = greater
             break
             greater += 1
             return lcm
num1 = int(input('Enter the number: '))
num2 = int(input('Enter the number: '))

print("The L.C.M. is", compute_lcm(num1, num2))

In [7]:
# Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum_result = num1 + num2
print(f"sum: {num1} + {num2} = {sum_result}")

Enter the first number for addition:  26
Enter the second number for addition:  38

sum: 26.0 + 38.0 = 64.0

In [10]:
name = input ("Enter your name :")
print ("Hello ,+ name ")
print("Hello, "+ name )
print (type(name ))

Enter your name : NAMITA

Hello ,+ name
Hello, NAMITA
<class 'str'>

In [16]:
num= bool(input("Enter a  number : "))
print(num)
print(type(num))

Enter a  number :  24

True
<class 'bool'>

In [18]:
a= "Hello "
A= "NAMITA"
b= "Himanshu "
B= "Rohit "
print((A)+(b))

NAMITAHimanshu

In [20]:
a = 10                  #Data types in python 
b = 3.14
c = "Hello"
d = True
e = [1, 2, 3]
f = (4, 5, 6)
g = {7, 8, 9}
h = {"name": "Alice", "age": 25}
i=  1+ 2j 
print(type(a))  
print(type(b))  
print(type(c)) 
print(type(d))  
print(type(e))  
print(type(f))  
print(type(g))  
print(type(h)) 
print (type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'complex'>

In [21]:
a = 5         #Implicit typecasting :Done by system automatically(by python )
b = 2.5     
c = a + b   
print(c)    
print(type(c))

7.5
<class 'float'>

In [22]:
# int to float     # Explicit typecasting: Done manually i.e. convert type input by user
x = 10
print(float(x))   

# float to int
y = 9.99
print(int(y))     

# int to string
z = 100
print(str(z))     

# string to int
s = "25"
print(int(s) + 5) 

# list to tuple
lst = [1, 2, 3]
print(tuple(lst))  

# tuple to set
t = (4, 5, 6, 4)
print(set(t))     

# list of pairs to dictionary
pairs = [("a", 1), ("b", 2)]
print(dict(pairs))

10.0
9
100
30
(1, 2, 3)
{4, 5, 6}
{'a': 1, 'b': 2}

In [23]:
#Escape character in python      # Backslash before 
print("I 'll call you later ")
print ("I\'ll call you later ")

I 'll call you later
I'll call you later

In [27]:
print ("Prepare well for \"NET 2025\" exam ")      # Double backslash

Prepare well for "NET 2025" exam

In [28]:
a = "Hello ,\n Smashers"                #  Backslash n for new tab 
print (a)

Hello ,
 Smashers

In [31]:
x= "no_benefits_   of _study\r Huge_benefits "     # Backslash r for carriage returns ..returns from starting 
 
print (x)

 Huge_benefits of _study

In [32]:
# 1. Using single and double quotes
print('It\'s a sunny day')   
print("She said \"Python is fun\"")  

# 2. Backslash
print("This is a backslash: \\")  

# 3. Newline and Tab
print("Hello\nWorld")   
print("Name\tAge")     

# 4. Carriage return
print("12345\rABC")

It's a sunny day
She said "Python is fun"
This is a backslash: \
Hello
World
Name	Age
ABC45

In [33]:
# Normal string
print("C:\\Users\\Admin")   


# Raw string
print(r"C:\Users\Admin")

C:\Users\Admin
C:\Users\Admin

In [34]:
print("Hello\nWorld")   # Normal string → newline
print(r"Hello\nWorld")  # Raw string → shows \n as text

Hello
World
Hello\nWorld

In [35]:
s1 = 'Hello'          # strings : immutable and ordered 
s2 = "World"
s3 = '''This is
a multi-line
string'''
print(s1, s2)
print(s3)

Hello World
This is
a multi-line
string

In [36]:
word = "HIMANSHU"
print(word[0])     # H(1st char)
print(word[-1])    # U  (last char)

# Slicing      
print(word[0:7])   # slicing consists start , stop (not included stop element )
print(word[2:])    
print(word[:3])    
print(word[::-1])  #  (reversed)
print (len(word ))      # length start from 1
                            # index start from 0 and revrse from -1

H
U
HIMANSH
MANSHU
HIM
UHSNAMIH
8

In [38]:
# Concatenation         
name =' Namita '          # addition of any two  or three or more
age = '23'
group =( name +' ' + age )
print(group)

 Namita  23

In [39]:
name = 'Himanshu '         # using f strings 
last = 'Chawla'
age = 25 
print (f"My first name is {name}& last name is {last} & age is {age }")

My first name is Himanshu & last name is Chawla & age is 25

In [3]:
#case conversion in string 
txt = "Python Programming "
print(txt.upper())  
print(txt.lower())   
print(txt.title())   
print(txt.capitalize())  
print(txt.swapcase())

PYTHON PROGRAMMING
python programming
Python Programming
Python programming
pYTHON pROGRAMMING

In [41]:
s = "apple,banana,cherry"          # splitting and joining
print(s.split(","))   

words = ["Python", "is", "fun"]
print(" ".join(words))

['apple', 'banana', 'cherry']
Python is fun

In [42]:
name = "Namita"        # using .format 
age = 25
print("My name is {} and I am {} years old".format(name, age))
print("My name is {1} and I am {0} years old".format(age, name))

My name is Namita and I am 25 years old
My name is Namita and I am 25 years old

In [43]:
# Empty list
empty_list = []

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Mixed data types
mixed = [10, "Hello", 3.14, True]

# Nested list
nested = [1, [2, 3], [4, 5]]

In [78]:
fruits = ["apple", "banana", "cherry", "mango"]

print(fruits[0])    
print(fruits[-1])   
print(fruits[1:3])

apple
mango
['banana', 'cherry']

In [49]:
list1 = [1,3,5,7,9,11,13]        # Concatenation for addition 
list2 = [2,4,6,8,10,12,14 ]
list3 =list1+list2
print(list3)
list4 = list2+ list1
print(list4)

[1, 3, 5, 7, 9, 11, 13, 2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 1, 3, 5, 7, 9, 11, 13]

In [50]:
name = "NAMITA" 
# Repetition * used for repeated a word in how many no. of times 
print (name*5 )

NAMITANAMITANAMITANAMITANAMITA

In [55]:
fruits = ["apple", "banana", "cherry", "mango"]

fruits.remove("banana")   #  .remove :removes specific  element from list 
print(fruits)

print(fruits.pop())       #.pop without index : removes last element
print(fruits)             

print(fruits.pop(0))      #  .pop removes  removes index   given element  i.e.0 → 'apple'
print(fruits)  
 
fruits.clear()            # empties list
print(fruits)

['apple', 'cherry', 'mango']
mango
['apple', 'cherry']
apple
['cherry']
[]

In [58]:
nums = [5, 3, 8, 1, 9]

nums.sort()   # ascending
print(nums)   

nums.sort(reverse=True)   # descending
print(nums)

nums.reverse()   # reverse order
print(nums)



print(len(nums))   # length of list
print(min(nums))   # smallest element
print(max(nums))   # largest element

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]
[1, 3, 5, 8, 9]
5
1
9

In [59]:
fruits = ["apple", "banana", "cherry"]

# For loop
for f in fruits:
    print(f)

# Using index
for i in range(len(fruits)):
    print(i, fruits[i])

apple
banana
cherry
0 apple
1 banana
2 cherry

In [63]:
x = 10

if x > 20:
    print("x is greater than 20")
elif x == 10:
    print("x is exactly 10")
else:
    print("x is less than 20 and not 10")

x is exactly 10

In [60]:
list1 = [ "NAMITA" , "RITU", "SAKSHI", "HIMANSHU ", "RAJAT ", "ROHIT"]
#Membership for checking element in list or not 
print("NAMITA"  not in list1 )     
print("ROHIT" in list1)
print("HIMANI"  not in list1)
print(list1[1:5])
print(list1[0:6:2])                # slicing 
print(list1[0:6:3])

False
True
True
['RITU', 'SAKSHI', 'HIMANSHU ', 'RAJAT ']
['NAMITA', 'SAKSHI', 'RAJAT ']
['NAMITA', 'HIMANSHU ']

In [104]:
# Built in functions

list1= [10,20,30,40,50,60,70,80,90,100,110,120,130,140,150] 

list2 = [2,4,6,8,10]
# len :use for checking the length i.e. total no. of elements in list 
print(len(list1))

list1.append(165)        # .append : add single element in last 
print(list1)

list1.append ([12,14,16])     # add this list as a single element
print(list1)

list1.extend (list2)     # extend : add all elements of list2 as single element 
print(list1)

list1.insert (4,45)     # .insert : add an element at particular index given 
print(list1)

print(list1.count(40))     # count : counts the no. of times element in list 
print(list1.count(4))

print(list1.index(10))      # .index : gives the first occurence of elements in list 

list1.remove(45)         # .remove: removes that specific element given  , if multiples times that element in list then remove first one 
print(list1)

list1.pop(4)            # .pop: removes that specific index element 
print(list1)   
list1.pop()           # .pop : if not given specific  index of element then  it removes last one 
print(list1)

list1.reverse()      # reverse the list of elements 
print(list1)

list2.sort()       # sort elements in ascending order 
print(list2)

list2.sort(reverse=True)    # .sort(reverse=True ) : elements in descending order 
print(list2)

print(min(list2))
print(max(list2))

15
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16]]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16], 2, 4, 6, 8, 10]
[10, 20, 30, 40, 45, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16], 2, 4, 6, 8, 10]
1
1
0
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16], 2, 4, 6, 8, 10]
[10, 20, 30, 40, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16], 2, 4, 6, 8, 10]
[10, 20, 30, 40, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 165, [12, 14, 16], 2, 4, 6, 8]
[8, 6, 4, 2, [12, 14, 16], 165, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 40, 30, 20, 10]
[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]
2
10

In [62]:
student = {
    "name": "Namita",
    "age": 25,
    "course": "Data analytics"
}

print(student) 

student["grade"] = "A"        # add new key
student["age"] = 26          # update existing key

print(student)

student.pop("course")       # remove by key
del student["grade"]        # delete by key

print(student)

for key, value in student.items():
    print(key,  value)

{'name': 'Namita', 'age': 25, 'course': 'Data analytics'}
{'name': 'Namita', 'age': 26, 'course': 'Data analytics', 'grade': 'A'}
{'name': 'Namita', 'age': 26}
name Namita
age 26

In [110]:
students = {
    "s1": {"name": "NAMITA", "age": 25},
    "s2": {"name": "HIMANSHU", "age": 28}       # Nested dictionary  
}

print(students["s2"]["name"])

HIMANSHU

In [114]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")
    print("one is a natural no.")

Enter a number:  24

Positive

In [115]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  16

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

In [61]:
word = "NAMITA"
     # for define each character 
for char  in word:
    print(char)

N
A
M
I
T
A

In [120]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Enter a number:  24

Reversed number: 42

In [121]:
i = 1
total = 0

while i <= 10:
    total += i
    i += 1

print("Sum =", total)

Sum = 55

In [122]:
num = 5
fact = 1
i = 1

while i <= num:
    fact *= i
    i += 1


print("Factorial =", fact)

Factorial = 120

In [4]:
pn = input("Enter a string")
rev = " " 
for i in pn:
    rev = pn + rev 
if pn ==rev:
    print("palindrome")
else:
    print("not palindrome")

Enter a string 424

not palindrome

In [9]:
l1 = [90,2,3,4,5]
sum = 0
for i in range(len(l1)):
    sum = sum+l1[i]
    i=i+1
print(sum)

104

In [19]:
num = int(input("enter the number of terms: "))
a,b =0,1
temp=0
if num <= 0:
 print("Please enter a positive integer")
# if there is only one term, return n1
elif num == 1:
     print("0")
if num >1:
    while temp<num:
        print(a, end=" ")
        a,b=b,a+b
        temp=temp+1

enter the number of terms:  5

0 1 1 2 3

In [23]:
num1 = int(input("enter the number: "))
temp = num1
length=0
while temp>0:
    temp = temp//10
    length+=1
print(length)

enter the number:  1234567890

10

In [39]:
str= input("enter the name: ")
rev=""
for Char in str :
    rev = Char + rev 
if str == rev :
    print ("Palindrome ")
else : 
    print("Not palindrome ")

enter the name:  HIMANSHU

Not palindrome

In [34]:
str = input("Enter the name: ")
rev = ""

for char in str:
    rev = char + rev

if str == rev:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the name:  RACECAR

Palindrome

In [48]:
num = int(input("Enter a number: "))
temp= num
rev = 0   

while num > 0:
    digit = num % 10        
    rev = rev * 10 + digit  
    num = num // 10 

if rev == temp:
    print("Palindrome")
else:
    print("not palindrome ")

Enter a number:  1221

Palindrome

In [2]:
num= int(input("enter the number "))
rev= 0
temp=num

while temp>0 :
    digit = temp% 10
    rev = rev*10+digit 
    temp = temp//10

if rev == num:
    print("Palindrome ")
else :
    print ("not a palindrome ")

enter the number  525

Palindrome

In [59]:
s = "malayalam"  # string 

i,j = 0, len(s) - 1  # two pointers

is_palindrome = True  # assume palindrome
while i < j:
    if s[i] != s[j]:  # mismatch found
        is_palindrome = False
        break
    i += 1
    j -= 1

if is_palindrome:
    print("Yes") 
else:
    print("No")

Yes

In [64]:
for i in range (1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [69]:
i = 1  
while i <= 10:  
    print(i)  
    i += 1

1
2
3
4
5
6
7
8
9
10

In [73]:
for i in range (2 ,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [75]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits :
    print (fruit )

apple
banana
cherry

In [77]:
for i in range(1, 10):
   print (i**2)

1
4
9
16
25
36
49
64
81

In [78]:
total = 0
for i in range(1, 101):
    total += i
print("Sum =", total)

Sum = 5050

In [79]:
word = ""
while word != "exit":
    word = input("Enter something (type 'exit' to stop): ")

Enter something (type 'exit' to stop):  enter
Enter something (type 'exit' to stop):  start
Enter something (type 'exit' to stop):  stop
Enter something (type 'exit' to stop):  step
Enter something (type 'exit' to stop):  index
Enter something (type 'exit' to stop):  range
Enter something (type 'exit' to stop):  keywords
Enter something (type 'exit' to stop):  start
Enter something (type 'exit' to stop):  exit

In [81]:
n = int(input("Enter a number: "))
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("Factorial =", fact)

Enter a number:  5

Factorial = 120

In [82]:
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [85]:
secret = 7
guess = 0
while guess != secret:
    guess = int(input("Guess the number: "))
print("Correct! ")

Guess the number:  2
Guess the number:  3
Guess the number:  4
Guess the number:  15
Guess the number:  11
Guess the number:  29
Guess the number:  25
Guess the number:  75
Guess the number:  7

Correct!

In [84]:
for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [87]:
a, b = 0, 1
while a <= 100:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34
55
89

In [88]:
n = int(input("Enter a number: "))
is_prime = True
if n < 2:
    is_prime = False
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            is_prime = False
            break

if is_prime:
    print("Prime")
else:
    print("Not Prime")

Enter a number:  23

Prime

In [89]:
s = "hello"
rev = ""
for char in s:
    rev = char + rev
print("Reversed string:", rev)

Reversed string: olleh

In [6]:
str = input ("enter a string :")
if str [::-1] :
    print ("string is palindrome ")
else:
    print("string is not palindrome ")

enter a string : namita

string is palindrome

In [4]:
count = 1 
while count <= 7:
    print ("hello " , count )
    count+= 1

hello  1
hello  2
hello  3
hello  4
hello  5
hello  6
hello  7

In [1]:
i = 5
while i >= 1 :
    print ("namita " , i )
    i -=1

namita  5
namita  4
namita  3
namita  2
namita  1

In [6]:
# print numbers from 1 to 20
i = 1
while i <= 20 :
       print (i)
       i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
l1 = [24,5,19,67,36,49,78,65,75,15,11,21,29]
i = 0 
while i < (len (num)) :
    print(num[i])
    i +=1

24
5
19
67
36
49
78
65
75
15
11
21
29

In [24]:
for i in range(3):
    print(i)

0
1
2

In [25]:
x = 5
while x > 0:
    print(x)
    x -= 2

5
3
1

In [26]:
for char in "CAT":
    print(char)

C
A
T

In [30]:
i = 0 
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
x = 10
while x >= 1  :
    print (x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [39]:
i = 0 
for i in range (2,21 ,2 ) :
    print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [47]:
x= 11
i = 0 
for i in range(1, 11):
    print (f" {x} *{i }= {x*i}")
    i+= 1

 11 *1= 11
 11 *2= 22
 11 *3= 33
 11 *4= 44
 11 *5= 55
 11 *6= 66
 11 *7= 77
 11 *8= 88
 11 *9= 99
 11 *10= 110

In [1]:
assword = ""  # Initialize password to an empty string

# Loop until the entered password is "secret"
wphile password != "secret":
    password = input("Enter the password: ")
    if password != "secret":
        print("Incorrect password. Please try again.")

print("Access granted! Welcome.")

Enter the password:  15

Incorrect password. Please try again.

Enter the password:  secret

Access granted! Welcome.

In [2]:
# Print numbers from 1 to 5
i = 1
while i <= 5:   # loop runs until condition becomes False
    print(i)
    i += 1      # increase i by 1

1
2
3
4
5

In [38]:

num = int(input("Enter the first num: "))
total =int(input("enter the second num:")) 
while num <= 10:
    num += 1
    total+= 1
    print("The sum of numbers from 1 to 10 is :" ,total)

Enter the first num:  1
enter the second num: 2

The sum of numbers from 1 to 10 is : 3
The sum of numbers from 1 to 10 is : 4
The sum of numbers from 1 to 10 is : 5
The sum of numbers from 1 to 10 is : 6
The sum of numbers from 1 to 10 is : 7
The sum of numbers from 1 to 10 is : 8
The sum of numbers from 1 to 10 is : 9
The sum of numbers from 1 to 10 is : 10
The sum of numbers from 1 to 10 is : 11
The sum of numbers from 1 to 10 is : 12

In [1]:
str = input("Enter the name: ")
rev = ""

for char in str:
    rev = char + rev

if str == rev:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the name:  NIKITA

Not a palindrome