In [3]:
a= {1,3,5,7,9}
b = {1,5,7,9,4,6}
print(type(a))

<class 'set'>

In [14]:
# set store only original value.....duplicate values delete
a = {1,3,2,4,5,6,4,2,6,4,3,4,1,3}
print(set(a))

{1, 2, 3, 4, 5, 6}

In [21]:
a = {1,3,2,3,2,1,4,3,2,"hello","abc","hello",5.6}
print(set(a))
print(len(a))

{1, 2, 3, 'hello', 4, 5.6, 'abc'}
7

In [20]:
a = 1,3,2,3,2,1,4,3,2,"hello","abc","hello",5.6,2,4
print(set(a))
print(len(a))

{1, 2, 3, 'hello', 4, 5.6, 'abc'}
15

In [16]:
a ={}
print(type(a))

<class 'dict'>

In [17]:
a =set()
print(type(a))

<class 'set'>

In [18]:
# .add can add element in set only tuple add...list and dict not added
a= {1,3,5,7,9}
a.add(4)
print(a)

{1, 3, 4, 5, 7, 9}

In [19]:
# .remove can remove  that element in set  
a= {1,3,5,7,9}
a.remove(5)
print(a)

{1, 3, 7, 9}

In [24]:
# .clear will clear the whole set
a = {1,2,3,4,5,6,7,8,9,2,3,3,4,5,6}
a.clear()
print(a)
print(len(a))

set()
0

In [27]:
#.pop removes the random value from set i.e. 1st value from set
a = {1,2,3,4,5,3,2,1,"hello","world","hello"}
a.pop()
print(a)

{2, 3, 4, 5, 'hello', 'world'}

In [30]:
# set.union combines both value and returns new one
a = {1,2,3,4,5,6,7}
b = {1,3,5,4,7,9,8,1,4}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
# set.union combines both value and returns new one(a|b)
a = {1,2,3,4,5,6,7}
b = {1,3,5,4,7,8,1,4}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
#set.intersection returns the common value in both sets
a ={1,3,5,7,9}
b ={1,5,9,8,2,4}
print(a.intersection(b))

{1, 5, 9}

In [41]:
#set.intersection returns the common value in both sets(a&b)
a ={1,3,5,7,9 ,6}
b ={1,5,9,8,2,4,6}
print(a&b)

{1, 5, 6, 9}

In [32]:
#(a-b) gives that value which are only in a ...not in b
a ={1,3,5,7,9}
b ={1,5,9,8,2,4}
print(a -b )

{3, 7}

In [34]:
#(a-b) gives that value which are only in a ...not in b
a ={1,3,5,7,9}
b ={1,5,9,8,2,4}
print(a.difference(b))

{3, 7}

In [33]:
#(b-a) gives that value which are only in b ....not in a 
a ={1,3,5,7,9}
b ={1,5,9,8,2,4}
print(b -a )

{8, 2, 4}

In [35]:
#(b-a) gives that value which are only in b ....not in a 
a ={1,3,5,7,9}
b ={1,5,9,8,4}
print(b.difference(a))

{8, 4}

In [36]:
#symmetric difference ...returns elements in either set but not in both
a = {1,3,5,7,9,4}
b ={1,5,4,7,8,2}
print(a^b)

{2, 3, 8, 9}

In [1]:
#symmetric difference ...returns elements in either set but not in both
a = {1,3,5,7,9,4}
b ={1,5,4,7,8,2}
print(b^a)

{2, 3, 8, 9}

In [38]:
#symmetric difference ...returns elements in either set but not in both
a = {1,3,5,7,9,4}
b ={1,5,4,7,8,2}
print(a.symmetric_difference(b))

{2, 3, 8, 9}

In [3]:
subjects = {"python","java","C++","python","javascript","java","python","java","C++","C"}
print(subjects)
print(len(subjects))

{'C', 'python', 'javascript', 'java', 'C++'}
5

In [9]:
subjects = ["python","java","C++","python","javascript","java","python","java","C++","C"]
print(set(subjects))

{'C', 'python', 'java', 'javascript', 'C++'}

In [13]:
# WAP to store 9 and 9.0 differ in a set
a = (1,2,3,4,8,9,"9.0",8,4,3)
print(set(a))

{1, 2, 3, 4, 8, 9, '9.0'}